name: Publish

on:
  push:
    tags: [ v* ]

env:
  DOTNET_VERSION: 10.0.x
  BUNDLE_PLATFORMS: x64|arm64

jobs:
  publish:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        submodules: true

    - name: Use .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Use MSBuild
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2

    - name: Setup Version
      id: setup_version
      run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_OUTPUT
      shell: bash

    - name: Update package manifest
      run: |
        [Reflection.Assembly]::LoadWithPartialName("System.Xml.Linq")
        $path = "WinQuickLook.Package/package.appxmanifest"
        $doc = [System.Xml.Linq.XDocument]::Load($path)
        $xName = [System.Xml.Linq.XName]"{http://schemas.microsoft.com/appx/manifest/foundation/windows10}Identity"
        $doc.Root.Element($xName).Attribute("Version").Value = "${{ steps.setup_version.outputs.VERSION }}.0";
        $doc.Save($path)

    - name: Build application
      run: >
        msbuild .\WinQuickLook.slnx
        /Restore
        /p:Configuration=Release
        /p:Version="${{ steps.setup_version.outputs.VERSION }}"
        /p:UapAppxPackageBuildMode=StoreUpload
        /p:AppxBundlePlatforms="${{ env.BUNDLE_PLATFORMS }}"
        /p:AppxPackageDir=..\packed
        /p:AppxBundle=Always
        /p:AppxPackageSigningEnabled=false
        /p:PackageCertificateThumbprint=""
        /p:PublishReadyToRun=true
        /verbosity:minimal

    - name: Upload MSIX
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: msix
        path: packed\*.msixupload
